.PlanForm__subtitle {
	background-color: #545456;
	color: #FFF;
	margin-bottom: 5px;
	padding: 2px;
	text-align: center;
}

@media screen and (min-width: 280px) {
	.PlanForm__row {
		display: flex;
		justify-content: space-between;
	}

	.PlanForm__date {
		margin-right: 10px;
	}

	.PlanForm__time {
		flex-shrink: 1.5;
	}

	.PlanForm__terminal {
		margin-right: 10px;
	}
}