.Header {
	height: 40px;
	display: flex;
	align-items: normal;
	justify-content: space-between;
}

.Header h1 {
	margin: 0;
}

.Header__tagline--wide {
	opacity: 0.35;
	margin-left: 10px;
}

.Header__tagline--narrow {
	opacity: 0.35;
	display: block;
	text-align: center;
	display: none;
	margin-top: 10px;
}

.Header__sign-in {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-end;
}

.Header__sign-in a, .Header__sign-out a {
	padding: 5px 15px;
	border-radius: 15px;
	border: 1px solid #99E2FF;
	color: #99E2FF;
	text-decoration: none;
}

.Header__sign-in a:last-child {
	border: none;
	background: #99E2FF;
	color: #1C1C1E;
	margin-left: 10px;
}

@media screen and (min-width: 450px) {
	.Header {
		align-items: baseline;
	}

	.Header h1 {
		font-size: 22pt;
	}
}

@media screen and (max-width: 490px) {
	.Header__tagline--wide {
		display: none;
	}

	.Header__tagline--narrow {
		display: inherit;
	}
}
