.PlanItem {
	border: 0.5px solid #99E2FF;
	border-radius: 8px;
	margin: 5px 0;
	padding: 5px 10px;
	text-decoration: none;
}

.PlanItem__details {
	display: flex;
	align-items: center;
	color: #99E2FF;
}

.PlanItem__icon {
	background-color: #99E2FF;
	color: #242426;
	width: 22px;
	height: 22px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
	flex-shrink: 0;
}

.PlanItem__text-row {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.PlanItem__text-row h3 {
	margin: 2px;
}

.PlanItem__subtype {
	background-color: #545456;
	color: #FFF;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 0.9em;
}

.PlanItem__address {
	font-weight: 300;
	margin: 2px;
}

@media screen and (min-width: 365px) {
	.PlanItem__text-row {
		flex-direction: row;
	}
}