.PlanItem {
	border: 0.5px solid #99E2FF;
	border-radius: 8px;
	margin: 5px 0;
	padding: 5px 10px;
}

.PlanItem__details {
	display: flex;
	align-items: center;
	color: #99E2FF;
}

.PlanItem__icon {
	background-color: #99E2FF;
	color: #242426;
	width: 25px;
	height: 25px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
}

.PlanItem__sub-type {
	font-size: 0.9em;
	font-weight: 300;
}