.TripForm__dest-cities {
  display: flex;
  flex-direction: column;
}
.TripForm__dest-city {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.TripForm__dest-city input {
  width: 90%;
}

.TripForm__dest-city button {
  position: relative;
  top: -4px;
}

.TripForm__plus-button,
.TripForm__minus-button {
  align-self: center;
  width: 30px;
  height: 30px;
  background-color: #007AFF;
  border: none;
  border-radius: 15px;
  font-size: 1.1em;
  margin: 5px 0;
  padding: 0;
}

.TripForm__minus-button {
  background-color: #FF2D55;
}
