.TripItem {
	background-color: #99E2FF;
	border: 1px solid #99E2FF;
	color: #242426;
	border-radius: 15px;
	margin: 5px;
	padding: 5px 10px;
	text-decoration: none;
}

.TripItem__details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.TripItem__heading {
	width: 90vw;
  max-width: 640px;
	margin: 5px;
}

.TripItem__description {
	font-style: italic;
	color: #FF9E99;
	margin-top: 10px;
}

.TripItem:nth-child(3n + 2) {
	background-color: #84DB9A;
	border: 1px solid #84DB9A;
}

.TripItem:nth-child(3n) {
	background-color: #FF9E99;
	border: 1px solid #FF9E99;
}